*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-family: Arial, sans-serif;
    background-color: #0fbce7;
    background:url() no-repeat center center fixed; /* Imagem como fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    margin: 0;
    padding: 0;
}