body {
    font-family: Arial, sans-serif;
    background-color: #aa03ec;
    background:url(/Docs/Imagens/D2.jpg) no-repeat center center fixed; /* Imagem como fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    margin: 0;
    padding: 0;
}

header {
    background-color: #d117f7;
    color: rgb(12, 255, 4);
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

/* Container principal */
.container {
    padding: 20px;
    color: #f3d00bfd;
}

.intro {
    margin-top: 20px;
    font-size: 1rem;
    color: #f3d00bfd;
    text-align: center;
}

/* Seção do diretor */
.category {
    margin-bottom: 40px;
}

.director-link {
    text-decoration: none;
    color: hwb(56 2% 0%);
    font-size: 1rem;
}

.director-link:hover {
    text-decoration: underline;
}

/* Cards */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: rgb(216, 8, 8);
    border-radius: 8px;
    box-shadow: 0 4px 6px #f8f8f8d5;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card p {
    margin-top: 20px;
    font-size: 1rem;
    color: #f3d00bfd;
}

.card:hover {
    transform: translateY(-10px); /* Move o card para cima */
    box-shadow: 0 6px 10px rgba(248, 2, 2, 0.836); /* Aumenta a sombra para dar um efeito de flutuação */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Anima a transição de forma suave */
}

footer {
    background-color: #d117f7;
    color: rgb(70, 253, 25);
    text-align: center;
    padding: 10px;
    position: 0;
    width: 100%;
    bottom: 0;
}